<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by customer:</div>
        <div class='col-md-4'>
          <input type='text'
                 [(ngModel)]='listFilter' />
        </div>
      </div>
      <!-- <div class='row'>
        <div class='col-md-6'>
          <h4>Filtered by Customer: {{listFilter}}</h4>
        </div>
      </div> -->
      <p *ngIf="!filteredVehicles"><em>Loading Vehicles...</em></p>
      <div *ngFor='let vehicle of filteredVehicles'>
        <div class='card'>
          <div class='card-header'>
            <div>
              <b>Customer : </b>{{vehicle.name}}
            </div>
            <div><b>Address : </b>{{vehicle.address}}</div>
          </div>
          <div *ngFor='let veh of vehicle.vehicles' class='card-body'>
          <div><b>Id : </b>{{veh.vehicleid}}</div>
          <div><b>Registration Number : </b>{{veh.registrationNumber}}</div>
          <div><b>Ping Date : </b>{{veh.lastpingdate | date:'medium' }}</div>
          <!-- <div>
            <b>Status : </b> {{veh.status}}
          </div>   -->
        </div>
        </div>
      </div>
      <!-- <div class='table-responsive'>
        <table class='table' *ngIf='vehicles && filteredVehicles.length'>
          <thead>
            <tr>
              <th>Customer Id</th>
              <th>Vehicle Id</th>
              <th>Registration Number</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let vehicle of filteredVehicles'>
              <td>{{ vehicle.customerId }}</td>
              <td>{{ vehicle.vehicleId }}</td>
              <td>{{ vehicle.registrationNumber }}</td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>
